{% extends 'layouts/base/base.html' %}
Todo List
Add task
--
name
description
due date
priority
is completed
--
Edit task
--
delete task
--
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    {% include 'app_todolist/components/formAddTask.html' %}
    <h1>Tasks</h1>
    {% include 'app_todolist/components/listTasks.html' %}


{% endblock %}

